ADK_OAUTH2_AUTHORIZE_URL=https://auth.id.cn-beijing.volces.com/userpool/7ae16d0d-9126-4e9d-a944-9be6c1ad3528/authorize
ADK_OAUTH2_TOKEN_URL=https://auth.id.cn-beijing.volces.com/userpool/7ae16d0d-9126-4e9d-a944-9be6c1ad3528/oauth/token
ADK_OAUTH2_USERINFO_URL=https://auth.id.cn-beijing.volces.com/userpool/7ae16d0d-9126-4e9d-a944-9be6c1ad3528/userinfo
ADK_OAUTH2_CLIENT_ID=df2c3fbc-499f-4499-8ca1-42bc71a012ce
ADK_OAUTH2_CLIENT_SECRET=8db3e69cf1eaa7b78384e41df1fb0111725432063f6aad0f9797fb5065beae17
ADK_OAUTH2_SCOPE="openid profile"
DATABASE_TOS_BUCKET=
VOLCENGINE_ACCESS_KEY=
VOLCENGINE_SECRET_KEY=
RUNTIME_IAM_ROLE_TRN=